@color-body-background: #023047;
@color-body-text: #8ECAE6;
@color-title: #fdf0d5;
@color-table-border: #FB8500;
@color-modal-background: #FFF;
@color-modal-text: #000;
@color-button-background: #FFB703;
@color-button-text: #000;
@color-input-text: #023047;