@use 'config/reset';
@use 'config/cores';
@use 'header/header';
@use 'section/products';

body {
  background-color: cores.$cinza-claro;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

li {
  list-style: none;
}

section {
  padding: 56px 0;
}

@media screen and (max-width: 1023px) {
  .container {
    max-width: 80%;
  }
}